[MESSAGES CONTROL]
disable=
    broad-exception-caught,
    import-error,
    invalid-name,
    global-statement,
    missing-function-docstring,
    missing-module-docstring,
    missing-class-docstring,
    too-many-return-statements,
    too-many-branches,
    too-many-statements,
    too-many-locals,
    line-too-long,
    missing-final-newline

[FORMAT]
max-line-length=120
