[MESSAGES CONTROL]
disable=
    broad-exception-caught,
    import-error,
    invalid-name,
    global-statement,
    missing-function-docstring,
    missing-module-docstring,
    missing-class-docstring
